%div.container.events-list
  - if events.size > 0
    - events.each do |event|
      %div.row.events-row
        %div.col-12.col-sm-6.events-row__image-wrapper
          - if event.images.attached?
            %p.events-row__image
              = image_tag event.images.first
          %p.event-date.d-flex.flex-column.justify-content-center.align-items-center
            %span.event-date__day #{event.date.strftime("%d")}
            %span.event-date__month #{event.date.strftime("%b")}
        %div.col-12.col-md-6
          %div.events-row__info
            %h3 #{event.title}
            %h4 #{event.date.strftime("%d-%m-%y")}
            %h4 Спікер: Жан-Поль Сартр
            %div.events-row__desc #{event.description}
            %button.events-row__read-more
              %p.arrow
                %span.arrow__line.arrow__line_left
                %span.arrow__line.arrow__line_right
              читати більше
