<div class="admin__sidebar">
  <ul>
    <h2>
      <%= link_to(t('Admin', scope: :admin), admin_root_url) %>
    </h2>
    <li>
      <ul>
        <h2>
          <%= link_to "Events", admin_events_path %>
        </h2>
        <li>
          <%= link_to(t('new_event', scope: :admin), new_admin_event_path) %>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <h2>
          <%= link_to "About", admin_about_index_path %>
        </h2>
      </ul>
    </li>
    <li>
      <ul>
        <li>
          <h2>
            Facts
          </h2>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to("Log out", destroy_user_session_path, method: :delete) %>
    </li>
  </ul>
</div>
