!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Admin dashboard
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #admin__layout
      %nav#admin__navigation
        %li= link_to(t('event', scope: :admin), admin_events_path)
        %li= link_to(t('new_event', scope: :admin), new_admin_event_path)
      = yield
